---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'This is all about Jinwon Lee. Thanks for comming!'}
                ]
            });
        });
</script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/get-started">Get Started </a></button>
  </div>
</div>
